{
	"semi": false,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"trailingComma": "es5",
	"tabWidth": 2,
	"useTabs": false,
	"printWidth": 80,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"vueIndentScriptAndStyle": true,
	"singleAttributePerLine": false,
	"htmlWhitespaceSensitivity": "css",
	"embeddedLanguageFormatting": "auto",
	"overrides": [
		{
			"files": "*.vue",
			"options": {
				"parser": "vue",
				"printWidth": 100,
				"singleAttributePerLine": true
			}
		},
		{
			"files": [
				"*.json",
				"*.jsonc"
			],
			"options": {
				"trailingComma": "none"
			}
		}
	]
}
